.fade-appear,
.fade-enter {
    opacity: 0;
}

.fade-appear-active,
.fade-enter-active {
    transition: opacity .3s linear;
    opacity: 1;
}

.fade-exit {
    transition: opacity .2s linear;
    opacity: 1;
}

.fade-exit-active {
    opacity: 0;
}

.animated-router-outer {
    position: relative;
}

.animated-router-inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
